/* ==================================
    Base Element Styles
===================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    line-height: 1.6;
    color: #444444;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h2,
a {
    color: #bc9055;
}

h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

figure {
    margin: 0;
    line-height: 0;
    position: relative;
}

figcaption {
    font-size: .8em;
    line-height: 2;
    color: #fff;
    padding: .5em;
    background: rgba(105,105,105, .65);
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ==================================
    Base Layout Styles
===================================== */
/* --------- Navigation Bar --------- */

.site-name {
    font-size: 1.25em;
    letter-spacing: .1em;
    margin: 0;
}

.main-nav {
    margin-top: 5px;
}

.site-name a, 
.main-nav a {
    display: block;
    text-align: center;
    padding: 10px 15px;
}

.main-nav a {
    font-size: 1em;
    color: #bc9055;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #444444;
}


/* ------- Layout Containers ------- */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.banner,
.main-footer {
    text-align: center;
}

.banner {
    color: #fff8e7;
    background: #99cc99;
    padding: 3.2em 0;
    margin-bottom: 60px;
}

.col {
    padding-right: 1em;
    padding-left: 1em;
}

.main-footer {
    background: #fff8e7;
    padding: .5em 0;
    margin-top: 20px;
}

/* --------- Page Elements --------- */

.headline {
    margin-bottom: 0;
}

.tagline {
    padding: 0 1em;
}

.icon-credit {
    font-size: .75em;
}

.site-name a {
    color: #654321;
    font-size: 1.25em;
}

/* ==================================
    Media Queries
===================================== */

@media (min-width: 769px) {

    body {
        padding-top: 68px;
    }

    .main-header {
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .site-name,
    .col {
        float: left;
    }

    .primary-content,
    .secondary-content {
        width: 50%;
    }
    .main-nav {
        float: right;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .tagline {
        font-size: 1.4em;
    }



/* --------- Float Clearfix --------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
    }
}

@media (min-width: 1025px) {

    .site-name {
        font-size: 1.4em;
    }
    
    .container {
        width: 80%;
        max-width: 1150px;
    }

    .primary-content {
        width: 40%;
    }

    .secondary-content,
    .tertiary-content {
        width: 30%;
    }
}